.App {
  text-align: center;
  
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content{
 background-color: #F8F0E3;
 height: 100vh;
}

.section {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #321115;
  background-color: #F8F0E3;
}

.signin {
  border-radius: 3;
  border-color: red;
}

.navbarlogo {
  display: none;
  margin-right: 1px;
}


.App-link {
  color: #61dafb;
}

.navbar {
  background-color: #99AA8B !important; /* Maroon: 321115 */
  color: #321115 !important; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
