/* FONTS */
/* font-family: 'Dawning of a New Day', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap'); 

/* Color Pallette 

Maroon #321115
Burgandy #701E25
Sage #99AA8B
Green #4F896D
Rosee #FAB9AA
Salmon #FDCDAA

*/



.App {
  text-align: center;
}

.rsvpBack {
  background-image: url('../src/images/bench.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.logo {
  height: 40vmin;
  pointer-events: none;
}



.namelogo {
  height: 8vmin;
  pointer-events: none;
}


.namelogoPri {
  height: 11vmin;
  pointer-events: none;
}


.rsvp {
  font-family: 'Dawning of a New Day', cursive;
  background-color: #fffdf6;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f2f2f2;
}

.header-htx {
  width: 100%; /* Adjust the width as needed */
  height: 300px; /* Adjust the height as needed */
  background-image: url('./images/htx2.jpg'); /* Replace 'path_to_your_image.jpg' with the actual path to your image */
  background-size: cover;
  background-position: center; /* This will show the upper portion of the image */
}

.content{
 background-color: #faf4eb;
 height: 100vh;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #321115;
}

.signin {
  border-radius: 3;
  border-color: red;
}

.rsvpForm {
  background: linear-gradient(135deg, #99AA8B80 50%, transparent 0),linear-gradient(-135deg, #99AA8B80 50%, transparent 0);
        background-size: 3em 3em;
        background-color: #ffffff;
        opacity: 0.5
}



.error{
  border-color: red;
  border-width: 2;
}

.navbarlogo {
  display: none;
  margin-right: 1px;
}


.App-link {
  color: #61dafb;
}

.navbar {
  background-color: #99AA8B !important; /* Maroon: 321115 */
  color: #321115 !important; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
  #htx-title {
    font-size: 25px;
    text-align: center;
/*     font-family: 'Dawning of a New Day', cursive; */
  }
  #reccs {
    margin-top: 15px;
    font-size: 30px;
    color:  #321115;
    font-family: 'Dawning of a New Day', cursive;
  }    
  #htx-header {
    font-size: 8 !important;
    margin: 0;
    width: 100%;
    text-align:left;
    align-content: baseline;
  }

  #cardHolder{
    width: 100% !important;
  }
  #cardsContainer{
    width: 200% !important;
    background-color: red;
  }

  .home::before {
    content: "";
    background: 
    linear-gradient(rgba(0, 0, 0, 0.02),rgba(0, 0, 0, 0.09), rgba(238, 231, 201, 0.637)), /* This adds the dark overlay */
    url('../src/images/couple.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.80; /* Adjust to your preferred opacity value */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; /* Position it behind the content of .home */
  }
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ 


  .home {
    position: relative;
  }
  
  .home::before {
    content: "";
    background: 
    linear-gradient(rgba(0, 0, 0, 0.02),rgba(0, 0, 0, 0.09), rgba(238, 231, 201, 0.637)), /* This adds the dark overlay */
    url('../src/images/couple.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.80; /* Adjust to your preferred opacity value */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; /* Position it behind the content of .home */
  }

  .registry {
    position: relative;
  }
  
  .registry::before {
    content: "";
    background: 
    linear-gradient(rgba(0, 0, 0, 0.02),rgba(0, 0, 0, 0.0), rgba(238, 231, 201, 0.265)), /* This adds the dark overlay */
    url('../src/images/ring.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.80; /* Adjust to your preferred opacity value */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; /* Position it behind the content of .home */
  }


  #htx-title {
    font-size: 50px;
    color:  #321115;
    /* font-family: 'Dawning of a New Day', cursive; */
  }
  #reccs {
    font-size: 50px;
    color:  #321115;
    font-family: 'Dawning of a New Day', cursive;
  }   
  
  #reccsHome {
    width: fit-content;
    font-size: 20px;
    color:  #321115;
    font-family: 'Dawning of a New Day', cursive;
  }   
  
  #htx-header {
    font-size: 20;
    margin: 0;
    width: 60%;
    text-align: center;
    align-content: center;
  }
}

/* Gallery Effects */

.fadein img:hover{
  opacity:0.8;
  transition: 1s ease;
}
  
  .fadein {
  opacity:1;
  transition: 1s ease;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fadein {
    animation: fadein 3s;
    -webkit-animation: fadein 3s;
    -moz-animation: fadein 3s;
    -o-animation: fadein 3s;
  }